@charset "UTF-8";

@media screen and (max-width:757px) {
    
    .barra-lateral{
        display: none;
    }
    .corpo{
        width: 100%;
        min-width: 0px;
        max-width: 750px;
    }


}