@charset "UTF-8";



* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}

body{

}

header{
    width: 100vw;
    margin: auto;
    box-shadow: 5px 0px 5px grey;
    text-align: center;
    justify-content: center;
   position: absolute;
    float: top;
    background-color: rgb(252, 252, 252);
    z-index: 1;
   
    
    
}

header>ul{
    width: 50%;
    display: flex;
    margin: auto;
    padding-top: 30px;
    column-gap: 5px;
    justify-content:center;
   
    
    
}

header>ul>li {
    display: inline-block;
    padding: 10px 0px ;
    list-style-type: none;
   
}

header>ul a {
    border-radius:  0px 0px ;
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1em;

}

header>ul a:hover {
    background-color:lightgray;
    padding-top: 15px;
    transition: all .5s , border 0s;
    border-bottom: 2px solid black;
}


/* Barra lateral*/

.barra-lateral{
    background-color: blue;
    background-image: linear-gradient(135deg, rgb(0, 81, 255) , rgb(58, 4, 185) );
    float: left;
    height: 100vh;
    width: 60px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.199);
    box-sizing: border-box;
    position: relative;
   position: absolute;
   transition: all .2s;
   overflow-y: auto;
   z-index: 2;
    
    
}




.barra-lateral:hover{
    width: 250px;
    
    transition: all .2s;

}

.barra-lateral>h1 {
    
    display: flex;
    justify-content: center;
    column-gap: 5px;
    transition: all .5s;
    text-shadow: 2px 2px 1px rgba(217, 218, 223, 0.404);
    
    text-align: center;
    padding: 15px;
    
    margin-bottom: 15px;
    z-index: 1;
    
    
}

.barra-lateral:hover > h1::before{
    content: 'Turma ';
    transition: all linear .5s;
    
} 

.barra-lateral footer{
    display: none;
    position: fixed;
    bottom: 0px;
    color: transparent;
    
   
}
.barra-lateral:hover>footer{
     
    display: inline-block ;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.212);
    font-family: cursive;
    width: 250px;
    padding-block: 0px 3px;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.192);
  
}


 
/* Menu da barra lateral + configurações que o hover da barra afeta no menu*/

ul.menu-lateral {
    height: 70%;
    width: 100%;
    
    
    
}

.barra-lateral:hover>ul>li>a>p{
    display: inline-block;
    text-align: left;
   
}

.barra-lateral:hover>ul>li>a{
    width: 100%;
   transition: all .2s;

    
}

.menu-lateral li{
    margin-bottom: 10px;

}

.menu-lateral a{
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  vertical-align: middle;
  margin: auto;
  width: 35px;
  padding: 4px 3px;
  border-radius: 8px;
  text-align: left;
  text-decoration: none;
   background-color: transparent;
    color: black;
    margin-left: 8px;
  
}

.menu-lateral a:hover{
    
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.301), rgba(255, 255, 255, 0.144) ,transparent);
    text-decoration: underline;
   
    transition: all .3s;
}


.menu-lateral img {
    width: 35px;
    display: block;
   
    
    
}

.menu-lateral p{
   display: none;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2em;

    
}
/* corpo e conteudo*/
.corpo{
    width: 68vw;
    max-width: 900px;
    margin: auto;
    height: 100vh;
   padding-top: 80px;
    overflow-y: auto;
    
    
}
.corpo::-webkit-scrollbar{
    scroll-behavior: smooth;
}

/* avisos */

div.aviso{
    width: 80%;
    max-width: 500px;
    margin: auto;
    background-color:whitesmoke;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.356);
    padding-top: 2%;
    padding-left:1% ;
    padding-right: 1%;
    border-radius: 8% 8% 0px 0px;
    margin-bottom: 50px;
}

.aviso img{
    width: 90%;
    display: block;
    margin: auto;

    
}
.aviso h1{
    text-align: center;
}
.aviso p {
    text-indent: 20px;
    padding: 10px;
}

/* acesso das provas */

.provas-atuais , .provas-passadas{
    margin: auto;
    background-color: whitesmoke;
    border-radius: 20px ;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.336);
    width: 90%;
    max-width: 600px;
    min-height: 100px;
    position: relative;
    margin-bottom: 30px;
    display: block;
   
    
}
.scrollatuaisepassadas{
   display: grid;
   row-gap: 8px;
   max-height: 250px ;
   grid-auto-flow: row;
   overflow-y: auto;
   padding-block: 5px;
   border-radius: 20px  ;
   
   
  
  
   
}

.provas-atuais h1 , .provas-passadas h1{
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    border-radius: 20px 20px 0 0 ;
    margin-bottom: 1px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.274);
    
    

}


.provas-atuais a , .provas-passadas a{
   width: 100%;
   background-color: whitesmoke;
  box-shadow: 0px 1px 2px rgba(128, 128, 128, 0.068);
   text-align: center;
   text-decoration: none;
   color: black;
   text-shadow: 1px 1px 0px rgba(128, 128, 128, 0.281);
   font-size: 1.1em;
   border-radius: 5px;

   
}

.provas-atuais a:hover , .provas-passadas a:hover{
    transform: translate(0, -1px );
    box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.363);
    color: rgb(0, 0, 54);
    transition: transform .1s, box-shadow .1s;
}
