@charset "UTF-8";

:root{
    --cor0: #fab113;
    --cor1: #F1F2F6;
    --cor2: #aeb8fe;
    --cor3: #758bfd;
    --cor4: #27187e;

}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: linear-gradient( 225deg , var(--cor1), var(--cor2));
}

header{
    background-color: var(--cor4);
    padding: 50px;
    position: relative;
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.438);
}

header h1{
    
    font-size: 2.5em;
    text-align: center;
    color: var(--cor0);
    font-variant: small-caps;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

header menu{
    position: absolute;
    bottom: 0px;
    left: 0px;
    
}

header ul {
  
   
}

header li {
    display: inline-block;
    margin: 2px 5px;
    padding: 2px 5px;
    border-radius: 5px;

}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    
}

header li:hover{
    background-color: var(--cor3);
    transform: translate(0px , -2px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.514);
    transition: transform .4s;
    
}

section.avisos{
    background-color: white;
   height: 300px;
   max-width: 500px;
   margin: auto;
   margin-top: 30px;
   border-radius: 20px;
   text-align: center;
   padding:  15px 0px;

   display: grid;
   grid-auto-flow: column;
   overflow-x: auto;
   column-gap: 10px;

   position: relative;
   

}

div.avisos{
    position: relative;
    margin:auto;
    max-width:500px;
}

div.avisos>a {
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 2;
    text-align:center;
    transform: translate(-50%, 0px);
    background-color: rgba(128, 128, 128, 0.473);
    width: 100%;
    
}

.avisos-item{
    
    height: 280px;
    
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    
}
.avisos-item img{
    max-width: 400px;
    max-height: 100%;
    border-radius: 20px;
}



section.provas{
    background-color: white;
   height: 300px;
   max-width: 500px;
   margin: auto;
   margin-top: 30px;
   border-radius: 20px;
   text-align: center;
}

footer{
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
    text-align: center;
}

footer p {
    padding-top: 5px;
}
